
/* General Styles */
/** {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    box-sizing: border-box;*/
/*    font-family: Arial, sans-serif;*/
/*}*/

.change-password,
.update-profile {
    width: 100%;
}



.open-btn {
    padding: 10px 20px;
    background-color: #f7444e;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
}

.open-btn:hover {
    background-color: #d63b42;
}


/* Modal Styles */
.modal {
    display: none; /* Keep the modal hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 9000;
    min-height: 100vh;

    /* Add transition for smooth visibility and movement */
    opacity: 0;
    visibility: hidden;
    transform: translateY(-50px); /* Move the modal up initially */
    transition: opacity 2s ease, visibility 2s ease, transform 1s ease;
}

.modal.show {
    display: flex; /* Make it flex to center the content */
    opacity: 1;
    visibility: visible;
    transform: translateY(0); /* Move the modal to its original position */
}


.modal-content {
    background: #fff;
    border-radius: 10px;
    width: 90%;
    max-width: 500px;
    padding: 20px;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 1.5rem;
    cursor: pointer;
    color: #aaa;
}

.close-btn:hover {
    color: #f7444e;
}

/* Profile Container */
.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.profile-header {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.avatar img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #f7444e;
}

.edit-avatar {
    margin-top: 10px;
    display: inline-block;
    background-color: #f7444e;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.edit-avatar:hover {
    background-color: #d63b42;
}

#avatar-input {
    display: none;
}

.avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 50px;
}

#avatar-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

/* Edit Profile Section */
.update-profile h3 {
    margin-bottom: 10px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

label {
    margin-bottom: 5px;
    color: #555;
    font-weight: bold;
}

input {
    padding: 10px;
    
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

text.username {
    font-size: 24px;
    font-weight: 500;
}

.save-btn {
    padding: 10px;
    background-color: #f7444e;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
}

.save-btn:hover {
    background-color: #d63b42;
}


.password-container {
    position: relative;
    margin-bottom: 20px;
}

input#new-password,
input#confirm-password,
input#current-password {
    margin-bottom: 0;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

/* Add this CSS to your stylesheet */
.dropdown-menu {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.dropdown-menu.show {
    opacity: 1;
}

/* Add this CSS to your stylesheet */
.dropdown-menu .dropdown-item:hover {
    background-color: #f7444e;
    color: #fff;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.dropdown-container {
    padding: 0;
}

.dropdown-item {
    padding: 0.5rem 1.5rem;
}

.dropdown-icon {
    margin-right:10px;
}

#dropdownAvatar {
    margin-top: -10px;
    margin-right: 5px;
    border-radius: 50%;
    object-fit: cover;
    width: 35px;
    height: 35px;
}

