<div class="container mb-4">
    <div class="form-input">
        <h2>Thêm sản phẩm mới</h2>
        <form id="productForm" method="POST" action="/products">
            <div class="form-group">
                <label for="productName">Tên sản phẩm</label>
                <input type="text" id="productName" name="name" required placeholder="Nhập tên sản phẩm">
            </div>

            <div class="form-group">
                <label for="productImage">Hình ảnh sản phẩm (URL)</label>
                <input type="text" id="productImage" name="image" required placeholder="Nhập URL hình ảnh sản phẩm">
            </div>

            <div class="form-group">
                <label for="productPrice">Giá sản phẩm</label>
                <input type="number" id="productPrice" name="price" required placeholder="Nhập giá sản phẩm">
            </div>

            <div class="form-group">
                <label for="productDescription">Mô tả sản phẩm</label>
                <textarea id="productDescription" name="description" rows="4" placeholder="Mô tả sản phẩm"></textarea>
            </div>

            <div class="form-group">
                <label for="productBrand">Thương hiệu</label>
                <input type="text" id="productBrand" name="brand" placeholder="Nhập tên thương hiệu">
            </div>

            <div class="form-group">
                <label for="productCategory">Danh mục</label>
                <input type="text" id="productCategory" name="category" placeholder="Nhập danh mục sản phẩm">
            </div>

            <div class="form-group">
                <label for="productInventory">Số lượng tồn kho</label>
                <input type="number" id="productInventory" name="inventory_quantity" required
                    placeholder="Nhập số lượng tồn kho">
            </div>

            <button type="submit" class="submit-btn">Thêm sản phẩm</button>
        </form>
    </div>
</div>


<link rel="stylesheet" href="/css/createProduct.css">