<header class="header_section">
    <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
            <a class="navbar-brand" href="/home"><img width="250" src="/img/logo.png" alt="#" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class=""> </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button"
                            aria-haspopup="true" aria-expanded="true"> <span class="nav-label">Pages <span
                                    class="caret"></span></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">About</a></li>
                            <li><a href="#">Testimonial</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/products">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/carts" id="cartHeader">
                            <i class="fa badge fa-lg" value="0"
                                id="cartQuantityIcon">&#xf07a;
                            </i>
                        </a>
                    </li>
                    <form class="form-inline">
                        <a class="nav-item" href="/products" style="text-decoration: none; color:black">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </a>
                    </form>
                    {{#if user}}
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-black-900 medium">{{user.username}}</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor"
                                class="bi bi-person-circle" viewBox="0 0 16 16"
                                style="margin-top: -5px; margin-right:5px">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                                <path fill-rule="evenodd"
                                    d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                            </svg>
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                            aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#">
                                Profile
                            </a>
                            <a class="dropdown-item" href="#">
                                Settings
                            </a>
                            <a class="dropdown-item" href="#">
                                Activity Log
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/auth/logout">
                                Logout
                            </a>
                        </div>
                    </li>
                    {{else}}
                    <li class="nav-item">
                        <a class="nav-link" href="/auth/login">
                            <i class="fa fa-sign-in" aria-hidden="true"></i> Login
                        </a>
                    </li>
                    {{/if}}
                </ul>
            </div>
        </nav>
    </div>
</header>

<!-- Login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel">Login Required</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                You need to log in to proceed this action.
            </div>
            <div class="modal-footer">
                <a href="/auth/login" type="button" class="btn btn-primary login-btn">Login</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



<script>
    //# sourceURL=header.js

    document.addEventListener('DOMContentLoaded', function () {
        const isLoggedIn = {{#if user}}true{{else}}false{{/if}};
        const cartHeader = document.getElementById('cartHeader');

        const cartNumber = cartHeader.querySelector('.badge');

        // cartHeader.addEventListener('click', (event) => {
        //     if (!isLoggedIn) {
        //         event.preventDefault();
        //         $('#loginModal').modal('show');
        //     }
        // });

        function fetchCartQuantity() {
            fetch('/carts/amount-of-items', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('cartQuantityIcon').setAttribute('value', data.amountOfItems);
                console.log('Cart quantity:', data.amountOfItems);
            })
            .catch(error => {
                console.error('Error fetching cart quantity:', error);
            });
        }

        // Fetch cart quantity on page load
        fetchCartQuantity();

    });

</script>